
<section id="add_ride" class="container">
<div class="form-wrap">

<div class="w-100 p-3" style="background-color: rgba(255, 255, 255, .8);position:relative;z-index:2;">
  <div id="formStart"class="w-100 p-3" style="background-color:rgb(131, 208, 208);width:100%;height:100%;top:0;left:0;position:absolute;z-index:1;">
    <h2 align="center">Are you driving <b>from</b> or <b>to</b> Isla Vista/UCSB?</h2>
      <div class="form-row">
        <div class="form-group col-md-6">
          <button type="buton" id="fromButton" class="btn btn-primary btn-lg btn-block">Departing IV</button>
        </div>
        <div class="form-group col-md-6">
          <button type="button" id="toButton" class="btn btn-primary btn-lg btn-block">Arriving in IV</button></div>
      </div>
  </div>
<h2 align="center">Edit Your Ride</h2>

<ul class="mx-auto rounded=0" id="errors" class="list-group">
{{#each errors}}
  <li class="list-group-item list-group-item-info rounded=0" class="form-control rounded-0">{{text}}</li>
{{/each}}
</ul>

<form action="/rides/edit/{{id}}" method="POST">

  <div class="form-row">
    <div class="form-group col-md-6" class="input-group">
      <label for="name">Name</label>
      <input type="text" class="form-control rounded-0" name="name" id="name" placeholder="Name" maxlength="100" value="{{name}}">
    </div>

    <div class="form-group col-md-6" class="input-group" >
      <label for="contact_email">Email</label>
      <input type="email" class="form-control rounded-0" name="contact_email" id="contact_email" placeholder="Contact email" maxlength="200"
      value="{{contact_email}}">
    </div>
  </div>

  <div id="locationRow"class="form-row">
    <div id="leftDiv" class="form-group col-md-6" class="input-group">
      <label for="origin">Start Location</label>
      <select class="form-control rounded-0" name="origin" id="origin" placeholder="Enter the city you will be driving from" maxlength="200"
      value="{{origin}}">
        <option value="San Jose">San Jose</option>
        <option value="San Diego">San Diego</option>
        <option value="Sacramento">Sacramento</option>
        <option value="San Francisco">San Francisco</option>
        <option value="Los Angeles">Los Angeles</option>
        <option value="Fresno">Fresno</option>

      </select>
    </div>

    <div id="rightDiv" class="form-group col-md-6" class="input-group">
      <label for="destination">Destination</label>
      <select class="form-control rounded-0" name="destination"
      id="destination" placeholder="Enter the city you will be driving to" maxvalue="200"
      value="{{destination}}">
      <option value="San Jose">San Jose</option>
      <option value="San Diego">San Diego</option>
      <option value="Sacramento">Sacramento</option>
      <option value="San Francisco">San Francisco</option>
      <option value="Los Angeles">Los Angeles</option>
      <option value="Fresno">Fresno</option>

    </select>
    </div>
  </div>

  <div class="form-group" class="input-group">
    <label id="locationLabel" for="location">Where specifically are you going?</label>
    <input type='text' class="form-control rounded-0" name="location" id="location" placeholder="Enter a specific city, drop-off point, etc."</input>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6" class="input-group">
      <label for="date">Date</label>
      <input type="date" class="form-control rounded-0" name="date" id="date" placeholder="Date you will be driving" value="{{shortDate date}}">
    </div>

    <div class="form-group col-md-6" class="input-group">
      <label for="time">Time</label>
      <input type="time" class="form-control rounded-0" name="time"
      id="time" placeholder="Time you will be driving" value="{{shortTime time}}">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6" class="input-group">
      <label for="number_of_seats">Number of Seats</label>
      <input type="number" class="form-control rounded-0" name="number_of_seats"
      id="number_of_seats" placeholder="Number of seats" min="0"
      value="{{number_of_seats}}">
    </div>

    <div class="form-group col-md-6" class="input-group">
      <label for="price">Price</label>
      <input type="number" class="form-control rounded-0" name="price"
      id="price" placeholder="Price per person" min="0" value="{{price}}">
    </div>
  </div>

  <div class="form-group" class="input-group">
    <label for="message">Message</label>
    <textarea class="form-control rounded-0" name="message" id="message" placeholder="Leave a message" rows="3">{{message}}</textarea>
  </div>
  <div class="form-row">

  <div id="contactBtn" class="col-md-12 text-center">
    <button type="submit" text="center" class="btn btn-dark">Repost Ride</button>
  </div>

</form>
</div>
</section>

</div>
<script>
  function depart(){
    document.getElementById("leftDiv").innerHTML = "<label for 'origin'>Start Location</label><input type='text' class='form-control rounded-0' name='origin' id='origin' maxlength='200' placeholder='Isla Vista' value='Isla Vista' readonly>";
    document.getElementById("formStart").style.display="none";
  }
  function arrive(){
    document.getElementById("rightDiv").innerHTML = "<label for 'destination'>Destination</label><input type='text' class='form-control rounded-0' name='destination' id='destination' maxlength='200' placeholder='Isla Vista' value='Isla Vista' readonly>";
    document.getElementById("formStart").style.display="none";
    document.getElementById("locationLabel").innerHTML = "Where specifically are you coming from?";
  }
  document.getElementById("fromButton").addEventListener('click', depart);
  document.getElementById("toButton").addEventListener('click', arrive);
</script>