
<section id="add_ride" class="container">
<div class="form-wrap">
<div class="w-100 p-3" style="background-color: rgba(255, 255, 255, .8);">

<h2 align="center">Post a Ride</h2>

<ul class="mx-auto rounded=0" id="errors" class="list-group">
{{#each errors}}
  <li class="list-group-item list-group-item-info rounded=0" class="form-control rounded-0">{{text}}</li>
{{/each}}
</ul>


<form action="/rides/edit/{{id}}" method="POST">


  <div class="form-row">

    <div class="form-group col-md-6" class="input-group">
      <label for="to_from_ucsb">I will be driving</label>
      <select class="form-control" id="to_from_ucsb" name="to_from_ucsb">
            {{#select to_from_ucsb}}
            <option value="from">From UCSB</option>
            <option value="to">To UCSB</option>
            {{/select}}
      </select>
    </div>

    <div class="form-group col-md-6" class="input-group">
      <label for="areaLabel" id="areaLabel">
          <span id="areaLabel_to">Area you will be driving to</span>
          <span id="areaLabel_from">Area you will be driving from</span>
      </label>
      <select class="form-control" id="area" name="area">
          {{#select area}}
          <option value="Southern California">Southern California</option>
          <option value="North of Bay">North of Bay</option>
          <option value="South of Bay">South of Bay</option>
          <option value="Central Valley">Central Valley</option>
          {{/select}}
      </select>
    </div>

  </div>
  
  <div class="form-row">

    <div class="form-group col-md-6" class="input-group">
      <label for="name">Name</label>
      <input type="text" class="form-control rounded-0" name="name" id="name" placeholder="Name" maxlength="100" value="{{name}}">
    </div>

    <div class="form-group col-md-6" class="input-group" >
      <label for="contact_email">Email</label>
      <input type="email" class="form-control rounded-0" name="contact_email" id="contact_email" placeholder="Contact email" maxlength="200"
      value="{{contact_email}}">
    </div>
  </div>

  <div class="form-row">

    <div class="form-group col-md-6" class="input-group">
      <label for="origin">Start Location</label>
      <input type="text" class="form-control rounded-0" name="origin" id="origin" placeholder="Enter the city you will be driving from" maxlength="200" 
      value="{{origin}}">
    </div>

    <div class="form-group col-md-6" class="input-group">
      <label for="destination">Destination</label>
      <input type="text" class="form-control rounded-0" name="destination" 
      id="destination" placeholder="Enter the city you will be driving to" maxvalue="200" 
      value="{{destination}}">
    </div>

  </div>

  <div class="form-row">
    <div class="form-group col-md-6" class="input-group">
      <label for="date">Date</label>
      <input type="date" class="form-control rounded-0" name="date" id="date" placeholder="Date you will be driving" value="{{date}}">
    </div>

    <div class="form-group col-md-6" class="input-group">
      <label for="time">Time</label>
      <input type="time" class="form-control rounded-0" name="time" 
      id="time" placeholder="Time you will be driving" value="{{time}}">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6" class="input-group">
      <label for="number_of_seats">Number of Seats</label>
      <input type="number" class="form-control rounded-0" name="number_of_seats"
      id="number_of_seats" placeholder="Number of seats" min="0"
      value="{{number_of_seats}}">
    </div>

    <div class="form-group col-md-6" class="input-group">
      <label for="price">Price</label>
      <input type="number" class="form-control rounded-0" name="price" 
      id="price" placeholder="Price per person" min="0" value="{{price}}">
    </div>
  </div>

  <div class="form-group" class="input-group">
    <label for="message">Message</label>
    <textarea class="form-control rounded-0" name="message" id="message" placeholder="Leave a message" rows="3">{{message}}</textarea>
  </div>
  <div class="form-row">

  <div id="contactBtn" class="col-md-12 text-center">
    <button type="submit" text="center" class="btn btn-dark">Post Ride</button>       
  </div>

</form>


</section>
</div>
</div>








{{!-- 
<section id="add_ride" class="container">
<div class="form-wrap">

<div class="w-100 p-3" style="background-color: rgba(255, 255, 255, .8);">
<h2 align="center">Post a Ride</h2>

<ul class="mx-auto rounded=0" id="errors" class="list-group">
{{#each errors}}
  <li class="list-group-item list-group-item-info rounded=0" class="form-control rounded-0">{{text}}</li>
{{/each}}
</ul>

<form action="/rides/edit/{{id}}" method="POST">
  
  <div class="form-row">
    <div class="form-group col-md-6" class="input-group">
      <label for="name">Name</label>
      <input type="text" class="form-control rounded-0" name="name" id="name" placeholder="Name" maxlength="100" value="{{name}}">
    </div>

    <div class="form-group col-md-6" class="input-group" >
      <label for="contact_email">Email</label>
      <input type="email" class="form-control rounded-0" name="contact_email" id="contact_email" placeholder="Contact email" maxlength="200"
      value="{{contact_email}}">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6" class="input-group">
      <label for="origin">Start Location</label>
      <input type="text" class="form-control rounded-0" name="origin" id="origin" placeholder="Enter the city you will be driving from" maxlength="200" 
      value="{{origin}}">
    </div>

    <div class="form-group col-md-6" class="input-group">
      <label for="destination">Destination</label>
      <input type="text" class="form-control rounded-0" name="destination" 
      id="destination" placeholder="Enter the city you will be driving to" maxvalue="200" 
      value="{{destination}}">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6" class="input-group">
      <label for="date">Date</label>
      <input type="date" class="form-control rounded-0" name="date" id="date" placeholder="Date you will be driving" value="{{shortDate date}}">
    </div>

    <div class="form-group col-md-6" class="input-group">
      <label for="time">Time</label>
      <input type="time" class="form-control rounded-0" name="time" 
      id="time" placeholder="Time you will be driving" value="{{shortTime time}}">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6" class="input-group">
      <label for="number_of_seats">Number of Seats</label>
      <input type="number" class="form-control rounded-0" name="number_of_seats"
      id="number_of_seats" placeholder="Number of seats" min="0"
      value="{{number_of_seats}}">
    </div>

    <div class="form-group col-md-6" class="input-group">
      <label for="price">Price</label>
      <input type="number" class="form-control rounded-0" name="price" 
      id="price" placeholder="Price per person" min="0" value="{{price}}">
    </div>
  </div>

  <div class="form-group" class="input-group">
    <label for="message">Message</label>
    <textarea class="form-control rounded-0" name="message" id="message" placeholder="Leave a message" rows="3">{{message}}</textarea>
  </div>
  <div class="form-row">

  <div id="contactBtn" class="col-md-12 text-center">
    <button type="submit" text="center" class="btn btn-dark">Repost Ride</button>       
  </div>

</form>
</div>
</section>

</div> --}}

