<section id="rides" class="container">

<div class="w-45 p-3" style="background-color: rgba(255, 255, 255, .8);">
	<h2 align="center">My Rides</h2>
</div>

<br>
	{{#each rides}}
	<div class="w-100 p-3" style="background-color: rgba(255, 255, 255, .8); width: 18rem;">

	<div class="ride">
	<h3 align="center">From {{origin}} to {{location}}, {{destination}}</h3>
		</div>
		<ul style="list-style: none">
			<li>Posted by {{name}}</li>
			<br>
			<li>{{locationHelper origin}} {{location}}</li>
			<li>Time: {{shortTime time}}</li>
			<li>Date: {{shortDate date}}</li>
			<li>Seats Available: {{number_of_seats}}</li>
			<li>Price: ${{price}} per person</li>
			<br>
			<li>
				<a href="mailto:{{contact_email}}" class="btn btn-dark">Message {{name}}</a>
			</li>
		</ul>
		<ul>
			<li style="list-style: none">
				<p>{{message}}</p>
			</li>
		</ul>
		<section align="right" class="container">
			<a class="btn btn-dark" href="/rides/edit/{{id}}" style="color:White">Edit</a>
		</section>
		<br>
		<section align="right" class="container">
			<a class="btn btn-danger" href="/rides/delete/{{id}}" style="color:White">Delete</a>
		</section>

		</div>
		<br>
		{{else}}
			<div class="w-100 p-3" style="background-color: rgba(255, 255, 255, .8);">
			<p align="center">No rides to list</p>
		</div>
		{{/each}}
  </section>
